
// --------- COLORS --------- //
$mainGreen: #03B551;
$mainBlue: #08B9BD;
$mainViolet: #6D42F1;
$white: #FAFAFA;
$black: #202020;

// --------- FONTS --------- //
@font-face {
	font-family: "MontserratAlternates";
	font-weight: normal;
	src: url('~/assets/fonts/Monteserrat\ Alternates/MontserratAlternates-Regular.ttf');
}
@font-face {
	font-family: "MontserratAlternates";
	font-weight: bold;
	src: url('~/assets/fonts/Monteserrat\ Alternates/MontserratAlternates-Bold.ttf');
}
$primaryFont: "MontserratAlternates";

@font-face {
	font-family: "Lexend";
	font-weight: normal;
	src: url('~/assets/fonts/Lexend/Lexend-Regular.ttf');
}

$secondaryFont: "Lexend"
