// --------- COLORS --------- //
$mainGreen: #03b551;
$secondaryGreen: #a1e3be;
$tertiaryGreen: #02883d;
$mainBlue: #08b9bd;
$secondaryBlue: #a2e5e6;
$tertiaryBlue: #068b8e;
$mainViolet: #6d42f1;
$secondaryViolet: #c4b7ec;
$white: #fafafa;
$black: #202020;
$grey: #20202010;

// --------- FONTS --------- //
@font-face {
	font-family: "MontserratAlternates";
	font-weight: normal;
	src: url("~/assets/fonts/Monteserrat\ Alternates/MontserratAlternates-Regular.ttf");
}
@font-face {
	font-family: "MontserratAlternates";
	font-weight: bold;
	src: url("~/assets/fonts/Monteserrat\ Alternates/MontserratAlternates-Bold.ttf");
}
@font-face {
	font-family: "MontserratAlternates";
	font-weight: semibold;
	src: url("~/assets/fonts/Monteserrat\ Alternates/MontserratAlternates-SemiBold.ttf");
}
$primaryFont: "MontserratAlternates";

@font-face {
	font-family: "Lexend";
	font-weight: normal;
	src: url("~/assets/fonts/Lexend/Lexend-Regular.ttf");
}

@font-face {
	font-family: "Lexend";
	font-weight: bold;
	src: url("~/assets/fonts/Lexend/Lexend-Bold.ttf");
}

$secondaryFont: "Lexend";
